/* Estilo Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(37, 36, 36);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}


/* Cabeçalho */

header {
    padding: 40px 4%;
}


/* Estilo Geral */


/* Cabeçalho */


/* Logo */

header .interface .logo img {
    border-radius: 30px;
}


/* Logo */


/* Foto */

main .img-topo-site img {
    border-radius: 200px;
}


/* Foto */

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header ul li a:hover {
    color: #fedd58;
    transform: scale(1.05);
    text-decoration: underline;
    /* background-color: #fedd58; */
    /* padding: 5px 20px; */
    border: 0;
    border-radius: 30px;
    /* box-shadow: 0px 0px 8px yellowgreen; */
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fedd58;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px yellowgreen;
    transform: scale(1.05);
}


/* topo site Main */

section.topo-site {
    padding: 40px 4%;
}

section.topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site .txt-topo-site h1 {
    color: #fff;
    font-size: 34px;
    line-height: 40px;
}

.topo-site .txt-topo-site h1 span {
    color: #fedd58;
}

.topo-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}


/* topo site Main */


/* Efeito de flutuação da imagem */

.topo-site .img-topo-site img {
    position: relative;
    animation: fluter 2s ease-in-out infinite alternate;
}

@keyframes fluter {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}


/* Efeito de flutuação da imagem */


/* Habilidades */

section.habilidades {
    padding: 40px 4%;
}

section.habilidades .flex {
    gap: 60px;
}

section.habilidades h2 {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2 span {
    color: #fedd58;
}

.habilidades .habilidades-box {
    color: #ffffff57;
    padding: 40px;
    /* border: 2px solid #fff; */
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    /* cursor: pointer; */
}

.habilidades .habilidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #fff;
}

.habilidades .habilidades-box i {
    color: #fedd58;
    font-size: 70px;
}

.habilidades .habilidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}


/* Habilidades */


/* Sobre */

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

section.sobre .txt-sobre {
    color: #fff;
}

section.sobre .txt-sobre h2 {
    font-size: 40px;
}

section.sobre .txt-sobre h2 span {
    display: block;
    line-height: 40px;
    margin-bottom: 40px;
}

section.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

section.sobre .img-sobre img {
    border-radius: 20px;
}


/* Sobre */